#draw {
  margin: 30px auto;
}

#draw > svg {
  border: 2px solid darkgrey;
  border-radius: 10px;
}

.time-tile {
    stroke: steelblue;
    stroke-width: 1px;
    /* without fill, the rectangle is actually just a closed path! And the click
event only triggers when you click at the line!!!!! */
    fill: none;
    /* the default is auto, which is visiblePainted for SVG, and such none-fill
interier would not trigger events */
    pointer-events: visible;
}

.time-tile-selected {
    fill: steelblue;
}

.time-tile-selecting {
    fill: lightblue;
}

.time-tile-deselecting {
    fill: lightgrey;
}
