/* sidebar */
#sidebar {
  float: left;
  width: 100px;
  height: 800px;
  border-right: 1px solid darkgrey;
  margin-right: 10px;
}

/* Script */
#output {
  margin-left: 110px;
  position: relative;
}

#script-output {
  display: inline-block;
  width: 600px;
  height: 400px;
  border: 2px solid darkgrey;
  border-radius: 10px;
}

/* controls */
#controls {
  display: inline-block;
  width: 100px;
  height: 400px;
  border: 1px solid darkgrey;
  border-radius: 10px;
}

/* Grid */
#draw {
  margin: 30px auto;
}

#draw > svg {
  border: 2px solid darkgrey;
  border-radius: 10px;
}

.time-tile {
    stroke: steelblue;
    stroke-width: 1px;
    /* without fill, the rectangle is actually just a closed path! And the click
event only triggers when you click at the line!!!!! */
    fill: none;
    /* the default is auto, which is visiblePainted for SVG, and such none-fill
interier would not trigger events */
    pointer-events: visible;
}

.time-tile-selected {
    fill: steelblue;
}

.time-tile-selecting {
    fill: lightblue;
}

.time-tile-deselecting {
    fill: lightgrey;
}
