@import "commons";

#sidebar {
  float: left;
  width: 100px;
  height: 800px;
  border-right: 1px solid darkgrey;
  margin-right: 10px;
}

main {
  float: left;
  width: 720px;
}

@import "output";
@import "grid";